body{
    font-family: Arial, Helvetica, sans-serif;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f9;
    margin: 20px;
    background-image: url("uma-esfera-brilhante-do-ceu-orbita-a-galaxia-estrelada-gerada-por-ia.jpg");
    background-repeat: no-repeat;
}

h2{
    color: #ffdaff;
    font-size: 22px;
    margin-top: -42px;
    padding: 0;
}

.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    padding: 100px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgb(0, 0, 0, 0.1);


    background: rgba(65, 21, 136, 0.103);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 13.5px );
    -webkit-backdrop-filter: blur( 13.5px );
    border-radius: 10px;
    border: 1px solid rgba(79, 8, 88, 0.274);
}

.input-area, .output-area{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
}

input{
    margin-top:8px;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #ddd;
    width: 300px;
    height: 80px;
    color: #ffffff;

    background: rgba(70, 2, 64, 0.123);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 13.5px );
    -webkit-backdrop-filter: blur( 13.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

textarea{
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ddd;
    width: 300px;
    resize: none;
    height: 100px;
    color: #ddd;

    background: rgba(70, 2, 64, 0.123);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 13.5px );
    -webkit-backdrop-filter: blur( 13.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

::placeholder{
    color: #ddd;
    font-family: Arial, Helvetica, sans-serif;
}

button{
    background-color: #750b75;
    color: rgb(255, 255, 255);
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    border: nome;
    margin: 5px 0;
    width: 120px;
}

.btn{
    margin-top: 20px;
}



button:hover{
    background-color: #290229;
}


